{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings bale")}}
	<div class="user-setting-content">
		{{template "shared/bale/owner_panel" .}}
	</div>
{{template "user/settings/layout_footer" .}}
