{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings bale")}}
	<div class="org-setting-content">
		{{template "shared/bale/owner_panel" .}}
	</div>
{{template "org/settings/layout_footer" .}}
