{{template "repo/settings/layout_head" (dict "ctxData" . "pageClass" "repository settings bale")}}
	<div class="repo-setting-content">
		<h4 class="ui top attached header">
			{{ctx.Locale.Tr "repo.settings.bale_storage"}}
		</h4>
		<div class="ui attached segment">
			<p>{{ctx.Locale.Tr "repo.settings.bale_storage_desc"}}</p>
			{{if .BaleUsageError}}
				<div class="ui warning message">
					{{ctx.Locale.Tr "repo.settings.bale_fetch_failed" .BaleUsageError}}
				</div>
			{{else if not .BaleUsage}}
				<div class="ui info message">
					{{ctx.Locale.Tr "repo.settings.bale_admin_disabled"}}
				</div>
			{{else if eq .BaleUsage.RawBytes 0}}
				<div class="ui info message">
					{{ctx.Locale.Tr "repo.settings.bale_no_files"}}
				</div>
			{{else}}
				<table class="ui very basic table">
					<tbody>
						<tr>
							<td><strong>{{ctx.Locale.Tr "repo.settings.bale_storage"}}</strong></td>
							<td>{{FileSize .BaleUsage.RawBytes}}</td>
						</tr>
						<tr>
							<td><strong>{{ctx.Locale.Tr "repo.settings.bale_exclusive_storage"}}</strong></td>
							<td>{{FileSize .BaleUsage.ExclusiveBytes}}</td>
						</tr>
						{{if gt .BaleUsage.SharedBytes 0}}
						<tr>
							<td>{{ctx.Locale.Tr "repo.settings.bale_shared_storage"}}</td>
							<td>{{FileSize .BaleUsage.SharedBytes}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			{{end}}
		</div>
	</div>
{{template "repo/settings/layout_footer" .}}
